*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

.header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header h1{
    margin-bottom: 5px;
}

.topnav{
    margin-bottom: 10px;
}

.topnav a{
    text-decoration: none;
    padding-right: 10px;
}

main{
    padding: 10px;
    /* background-color: white; */
    /* background-image: url(./assets/bg.jpg); */
}

.how-it-works, .alpha-premium, .schedule-wash, .testimonials, .contact-us, .faq{
    background-color: #333333;
    padding: 5px;
    margin-bottom: 20px;
}

.hero{
    background-image: url(./assets/giovanna-karla-givi-zXlR3jKJf6M-unsplash.jpg);
    background-size:cover;
    padding: 50px;
    height: 500px;
    margin-bottom: 20px;
}

.hero-card{
    padding: 20px;
    width: 500px;
    height: 350px;
    background-color: rgb(232, 246, 246);
}

.hero-card h2{
    font-size: 40px;
    margin-bottom: 5px;
}

.hero-card p{
    line-height: 1.5;
}

.hero-card button{
    padding: 10px;
    font: inherit;
}

.how-it-works{
    padding: 50px;
}

.workings{
    display: flex;
}

footer{
    text-align: center;
}


